@{
    ViewBag.Title = "MY PERSONAL MOODLE";
}

<div class="jumbotron">
    <h1>MOODLE</h1>
    <p class="lead">
        Moodle es una plataforma de aprendizaje diseñada para proporcionarle a educadores, administradores y 
        estudiantes un sistema integrado único, robusto y seguro para crear ambientes de aprendizaje personalizados.
    </p>
    <p><a href="https://moodle.org/?lang=es" class="btn btn-primary btn-lg">Moodle Projects &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Columna 1</h2>
        <p>Texto columna 1.</p>
        <p><a class="btn btn-default" href="https://www.google.hn/?gws_rd=cr&ei=5oZMWY78LcjA-AHnqqSwCQ">Google &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Columna 2</h2>
        <p>Texto columna 2</p>
        <p><a class="btn btn-default" href="https://www.bing.com/">Bing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Columna 3</h2>
        <p>Texto columna 3.</p>
        <p><a class="btn btn-default" href="https://espanol.yahoo.com/">Yahoo &raquo;</a></p>
    </div>
</div>